<a href="https://colab.research.google.com/github/davifebdn/estructures_Dataframe/blob/main/Data_Science_Sprint_2_T05_Exploraci%C3%B3_de_les_dades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# S02 T05: Exploració de les dades
Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

## Nivell 1

### Exercici 1
Descarrega el data set [Airlines Delay: Airline on-time statistics and delay](https://www.kaggle.com/datasets/giovamata/airlinedelaycauses) causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [3]:
#Tot això és el procés per poder fer servir l'arxiu .csv des de Google Colab i el meu Google Drive
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link = 'https://drive.google.com/file/d/1rynU9E5CuqHG3WtuM9MpD2FXdAFNbRwk/view?usp=sharing'

id = link.split("/")[-2]

downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('DelayedFlights.csv')

df = pd.read_csv('DelayedFlights.csv')
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

A través de Kaggle es troba la [font original de les dades](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/HG7NV7), on explica què és cada columna i en quines unitats estan:
0. Unnamed: No està a la base original.
1. Year: 2008 
2. Month: 1-12 
3. DayofMonth: 1-31 
4. DayOfWeek: 1 (Monday) - 7 (Sunday) 
5. DepTime: actual departure time (local, hhm m) 
6. CRSDepTime: scheduled departure time (local, hhmm)7. ArrTime: actual arrival time (local, hhmm) 
8. CRSArrTime: scheduled arrival time (local, hhmm) 
9. UniqueCarrier: unique carrier code 
10. FlightNum: flight number 
11. TailNum: plane tail number 
12. ActualElapsedTime: in minutes 
13. CRSElapsedTime: in minutes 
14. AirTime: in minutes 
15. ArrDelay: arrival delay, in minutes 
16. DepDelay: departure delay, in minutes 
17. Origin: origin IATA airport code 
18. Dest: des tination IATA airport code 
19. Distance: in miles 
20. TaxiIn: taxi in time, in minutes 
21. TaxiOut: taxi out time in minutes 
22. Cancelled: was the flight cancelled? 
23. CancellationCode: reason for cancellation (A = carrier, B = weather, C = NAS, D = security) 
24. Diverted: 1 = yes, 0 = no 
25. CarrierDelay: in minutes 
26. WeatherDelay: in minutes 
27. NASDelay: in minutes 
28. SecurityDelay: in minutes 
29. LateAircraftDelay: in minutes

Llavors, pasem a revisar la informació bàsica de la base de dades:

In [9]:
print("Número de files i columnes:")
df.shape

Número de files i columnes:

(1936758, 30)

In [17]:
print("Columnes i tipus de data a cadascuna:")
df.info()

Columnes i tipus de data a cadascuna:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

Els valors de la primera columna `Unnamed: 0` no aprota cap valor i els números no son consecutius, per tant, la esborrem.

In [5]:
df2 = df.drop(columns=['Unnamed: 0'])
df2.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Volem juntar les columnes de dia, mes i any, però primer hem de modificar el nom de `DayOfMonth` a `Day`.

In [6]:
df3 = df2.rename(columns={"DayofMonth": "Day"})
df3.head()

,Year,Month,Day,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Llavors, fem el canvi.

In [7]:
pd.to_datetime(df3[["Year", "Month", "Day"]])
df3.head()

,Year,Month,Day,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

### Exercici 2

Fes un informe complet del data set:

 *   Resumeix estadísticament les columnes d’interès
 *   Troba quantes dades faltants hi ha per columna
 *   Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
 *   Taula de les aerolínies amb més endarreriments acumulats
 *   Quins són els vols més llargs? I els més endarrerits?
 *   Etc.